Repository parameter1/fusable-websites, pull requests merged in 2021-04, with the labels that each got.

#217 Serve NativeX stories
  packages/global/browser/index.js
  packages/global/components/blocks/primary-image.marko
  packages/global/graphql/fragments/native-x-image.js
  packages/global/graphql/fragments/native-x-story.js
  packages/global/package.json
  packages/global/routes/index.js
  packages/global/routes/native-x.js
  packages/global/scss/components/_page-wrapper.scss
  packages/global/scss/components/_sponsor-logo.scss
  packages/global/templates/content/components/presented-by.marko
  packages/global/templates/content/native-x-story.marko
  yarn.lock
Labels: enhancement, 🌐 site: ALL

#218 Upgrade dependencies
  packages/global/package.json
  sites/ccjdigital.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#219 Enable IdentityX + Omeda rapid identification
  docker-compose.yml
  packages/global/browser/index.js
  packages/global/components/document.marko
  packages/global/config/identity-x.js
  packages/global/config/omeda.js
  packages/global/package.json
  packages/global/routes/identity-x.js
  packages/global/start-server.js
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#221 Pull parser from the app instance
  packages/equipment-experts/index.js
  sites/equipmentworld.com/server/routes/index.js
Labels: bug

#223 Disable lazy loading for all RR sites
  sites/equipmentworld.com/config/gam.js
  sites/hardworkingtrucks.com/config/gam.js
  sites/overdriveonline.com/config/gam.js
  sites/totallandscapecare.com/config/gam.js
  sites/truckersnews.com/config/gam.js
  sites/truckpartsandservice.com/config/gam.js
Labels: 🌐 site: ALL

#224 Add promo card rotation support
  packages/global/components/blocks/promos/marko.json
  packages/global/components/blocks/promos/ovd-reader-rigs-submit.marko
  packages/global/utils/shuffle-array.js
  sites/overdriveonline.com/server/components/blocks/marko.json
  sites/overdriveonline.com/server/components/blocks/promo-card-rotation.marko
  sites/overdriveonline.com/server/components/marko.json
  sites/overdriveonline.com/server/templates/content/company.marko
  sites/overdriveonline.com/server/templates/content/index.marko
  sites/overdriveonline.com/server/templates/content/product.marko
  sites/overdriveonline.com/server/templates/index.marko
  sites/overdriveonline.com/server/templates/website-section/index.marko
  sites/overdriveonline.com/server/templates/website-section/partners-in-business.marko
  sites/overdriveonline.com/server/templates/website-section/products.marko
  sites/overdriveonline.com/server/templates/website-section/reader-rigs.marko
Labels: 🌐 site: overdrive.com

#225 Add cost calculator static page
  sites/equipmentworld.com/server/routes/index.js
  sites/equipmentworld.com/server/routes/static.js
  sites/equipmentworld.com/server/templates/cost-calculator.marko
Labels: 🌐 site: equipmentworld.com

#226 Clean up reader rigs submission page
  sites/overdriveonline.com/server/templates/new-reader-rigs-submission.marko
Labels: 🌐 site: overdrive.com
