Repository parameter1/fusable-websites, pull requests merged in 2021-09, with the labels that each got.

#287 Remove lazyload from several above the fold images
  packages/global/components/blocks/marko.json
  packages/global/components/blocks/primary-image.marko
  packages/global/components/blocks/section-feed.marko
  packages/global/components/blocks/top-stories.marko
  packages/global/components/flows/content/card-deck-4-col.marko
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/layouts/website-section/home.marko
  packages/global/components/nodes/author-published.marko
  packages/global/components/nodes/section-feed-content.marko
Labels: 🌐 site: ALL

#288 Add image placeholder for YouTube, Vimeo video players
  packages/global/components/layouts/content/default.marko
  packages/global/package.json
  packages/global/utils/content-iframe.js
Labels: 🌐 site: ALL

#281 Add sponsor logos sda tps
  packages/global/components/blocks/marko.json
  packages/global/components/blocks/successful-dealer-sponsors.marko
  packages/global/components/layouts/website-section/feed.marko
  sites/truckpartsandservice.com/server/styles/index.scss
Labels: 🌐 site: truckpartsandservice.com

#291 Use new search
  README.md
  docker-compose.yml
  packages/global/components/marko.json
  packages/global/components/search/marko.json
  packages/global/components/search/queries.js
  packages/global/components/search/query.marko
  packages/global/components/site-menu/components/search.marko
  packages/global/middleware/algolia.js
  packages/global/package.json
  packages/global/routes/search.js
  packages/global/start-server.js
  packages/global/templates/search-new.marko
  packages/global/templates/search.marko
  yarn.lock
Labels: 🌐 site: ALL

#294 Update solutions summit verbiage
  packages/global/components/blocks/ccj-solutions-summit.marko
Labels: 🌐 site: ccjdigital.com
