Repository parameter1/fusable-websites, pull requests merged in 2021-08, with the labels that each got.

#264 Add section id for search
  sites/equipmentworld.com/config/search.js
Labels: 🌐 site: equipmentworld.com

#265 Add `.page-wrapper--no-padding-x` styles
  packages/global/scss/components/_page-wrapper.scss
Labels: 🌐 site: ALL

#266 Fix CCJ Top 250 logo
  packages/global/components/blocks/ccj-top-250.marko
Labels: 🌐 site: ccjdigital.com

#268 Add noindex to print content page
  packages/global/templates/content/print.marko
Labels: 🌐 site: ALL

#269 Upgrade dependencies
  packages/equipment-experts/package.json
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: dependencies

#274 Add bottom ad to pib page
  sites/overdriveonline.com/server/templates/website-section/partners-in-business.marko
Labels: 🌐 site: overdrive.com

#275 Update title & teaser; hyperlink terms of use
  sites/ccjdigital.com/config/top250/index.js
  sites/ccjdigital.com/server/styles/_top-250.scss
  sites/ccjdigital.com/server/templates/website-section/top250/index.marko
Labels: 🌐 site: ccjdigital.com

#276 Add sticky header to CCJ Top 250
  sites/ccjdigital.com/server/styles/_top-250.scss
Labels: 🌐 site: ccjdigital.com

#277 Convert CCJ top 250 landing and guide pages to use website-section page type and context base off root ccj-top-250 section
  sites/ccjdigital.com/server/routes/top250.js
  sites/ccjdigital.com/server/templates/website-section/top250/guide.marko
  sites/ccjdigital.com/server/templates/website-section/top250/index.marko
Labels: 🌐 site: ccjdigital.com

#279 Add nodelist sectionfeed css & ol/ul style position change
  packages/global/scss/components/_content-page.scss
Labels: 🌐 site: ALL

#282 Update CCJ Top 250 data csv
  sites/ccjdigital.com/config/top250/_csv/top250.csv
Labels: 🌐 site: ccjdigital.com

#283 Comment out sponsor part of ccj top 250
  sites/ccjdigital.com/server/styles/_top-250.scss
Labels: 🌐 site: ccjdigital.com
