Repository parameter1/fusable-websites, pull requests merged in 2021-03, with the labels that each got.

#187 Add custom feed for Lexis Nexus
  packages/global/package.json
  packages/global/routes/feed.js
  packages/global/routes/index.js
  yarn.lock
Labels: 🌐 site: ALL

#188 Update GSC meta tags
  sites/ccjdigital.com/server/templates/index.marko
  sites/equipmentworld.com/server/templates/index.marko
  sites/hardworkingtrucks.com/server/templates/index.marko
  sites/overdriveonline.com/server/templates/index.marko
  sites/totallandscapecare.com/server/templates/index.marko
  sites/truckersnews.com/server/templates/index.marko
  sites/truckpartsandservice.com/server/templates/index.marko
Labels: 🌐 site: ALL

#189 Update in-body ad character counts
  packages/global/components/layouts/content/default.marko
Labels: 🌐 site: ALL

#191 Add inline-content ad configs for gear
  sites/overdriveonline.com/config/gam.js
  sites/truckersnews.com/config/gam.js
Labels: 🌐 site: overdrive.com, 🌐 site: truckersnews.com

#192 Upgrade dependencies
  packages/base-browse/package.json
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#196 Upgrade dependencies
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#204 Upgrade @parameter1 base-cms dependencies to 2.12.0
  packages/global/package.json
  packages/global/start-server.js
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#205 Upgrade @parameter1 base-cms dependencies to 2.12.1
  packages/global/components/document.marko
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#206 Upgrade deps and defer all scripts to load (+ animation frame)
  packages/global/components/document.marko
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#181 Equipment experts
  docker-compose.yml
  packages/equipment-experts/client.js
  packages/equipment-experts/graphql/equipment-experts-content.js
  packages/equipment-experts/graphql/equipment-experts-indexes.js
  packages/equipment-experts/index.js
  packages/equipment-experts/package.json
  packages/global/routes/equipment-exchange.js
  packages/global/routes/index.js
  sites/equipmentworld.com/index.js
  sites/equipmentworld.com/package.json
  sites/equipmentworld.com/server/routes/index.js
Labels: enhancement, 🌐 site: equipmentworld.com

#208 Add wrapping body copy containers & classes
  sites/truckpartsandservice.com/server/templates/static/distributor-of-the-year-award.marko
  sites/truckpartsandservice.com/server/templates/static/sucessful-dealer-award.marko
Labels: 🌐 site: truckpartsandservice.com

#209 Update award nomination pages
  sites/truckpartsandservice.com/server/routes/static.js
  sites/truckpartsandservice.com/server/templates/static/distributor-of-the-year-award.marko
  sites/truckpartsandservice.com/server/templates/static/sucessful-dealer-award-submission.marko
Labels: 🌐 site: truckpartsandservice.com

#214 Adjust wallpaper to use fixed positioning
  packages/global/scss/components/_ads.scss
Labels: 🌐 site: ALL

#215 Position fixed wallpaper at edge of viewport
  packages/global/scss/components/_ads.scss
Labels: 🌐 site: ALL
