Repository parameter1/fusable-websites, pull requests merged in 2022-08, with the labels that each got.

#440 Enable gam lazy loading for all sites except CCJ
  packages/global/config/gam.js
  sites/ccjdigital.com/config/gam.js
  sites/equipmentworld.com/config/gam.js
  sites/hardworkingtrucks.com/config/gam.js
  sites/overdriveonline.com/config/gam.js
  sites/totallandscapecare.com/config/gam.js
  sites/truckersnews.com/config/gam.js
  sites/truckpartsandservice.com/config/gam.js
Labels: 🌐 site: ALL

#441 Upgrade p1-events package version & ensure brandKey & identityQueryBuilder function are set correctly.
  packages/global/components/document.marko
  packages/global/package.json
  yarn.lock
Labels: bug

#442 CCJ Top 250: Update Data, add and display Sponsor logo.
  sites/ccjdigital.com/config/top250/_csv/top250.csv
  sites/ccjdigital.com/server/styles/_top-250.scss
  sites/ccjdigital.com/server/templates/website-section/top250/components/graphic-header.marko
Labels: 🌐 site: ccjdigital.com
