Repository parameter1/fusable-websites, pull requests merged in 2022-10, with the labels that each got.

#473 Move leaderboard below the fold on mobile for OVD, CCJ
  packages/global/components/layouts/content/default.marko
  packages/global/components/layouts/content/product.marko
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/layouts/website-section/home.marko
  packages/global/components/layouts/website-section/products.marko
  packages/global/config/gam.js
  packages/global/package.json
  packages/global/scss/core.scss
  sites/ccjdigital.com/config/gam.js
  sites/equipmentworld.com/config/gam.js
  sites/hardworkingtrucks.com/config/gam.js
  sites/overdriveonline.com/config/gam.js
  sites/totallandscapecare.com/config/gam.js
  sites/truckersnews.com/config/gam.js
  sites/truckpartsandservice.com/config/gam.js
  yarn.lock
Labels: 🌐 site: overdriveonline.com, 🌐 site: ccjdigital.com

#476 Add whitepapers to promo cards
  sites/overdriveonline.com/server/components/blocks/promo-card-rotation.marko
Labels: 🌐 site: overdriveonline.com

#479 Add whitepapers to menu
  sites/truckpartsandservice.com/config/navigation.js
Labels: 🌐 site: truckpartsandservice.com

#489 Upgrade dependencies
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#490 Add pushdown ad sizes
  packages/global/config/gam.js
Labels: 🌐 site: ALL
