Repository parameter1/fusable-websites, pull requests merged in 2022-09, with the labels that each got.

#443 CCJ Top 250: Data and Page Clean-up
  sites/ccjdigital.com/browser/top250/table.vue
  sites/ccjdigital.com/browser/top250/utils/extract-range-values.js
  sites/ccjdigital.com/browser/top250/utils/parse-number.js
  sites/ccjdigital.com/config/top250/_csv/top250.csv
  sites/ccjdigital.com/config/top250/all.js
  sites/ccjdigital.com/server/styles/_top-250.scss
  sites/ccjdigital.com/server/templates/website-section/top250/components/graphic-header.marko
Labels: 🌐 site: ccjdigital.com

#444 Allow for --'s for Not Ranked (NR) 2021 Rank col, CCJ Top 250
  sites/ccjdigital.com/config/top250/_csv/top250.csv
Labels: 🌐 site: ccjdigital.com

#445 Disable GAM lazyloading on TLC and EQW
  sites/equipmentworld.com/config/gam.js
  sites/totallandscapecare.com/config/gam.js
Labels: 🌐 site: equipmentworld.com, 🌐 site: totallandscapecare.com

#449 Add download link for Top 250 PDF with verbiage.
  sites/ccjdigital.com/config/top250/index.js
Labels: 🌐 site: ccjdigital.com

#450 "Null out" Tri-National''s 2021 Revenue, CCJ Top 250
  sites/ccjdigital.com/config/top250/_csv/top250.csv
Labels: 🌐 site: ccjdigital.com

#451 Blank out Tri-National's Carriers field CCJ Top 250
  sites/ccjdigital.com/config/top250/_csv/top250.csv
Labels: 🌐 site: ccjdigital.com

#470 Adjust verbiage when limit is reached for a viewable article
  packages/global/components/blocks/content-meter.marko
Labels: 🌐 site: ALL

#472 Add marginPercent to lazyloading
  sites/truckpartsandservice.com/config/gam.js
Labels: 🌐 site: truckpartsandservice.com
