Repository parameter1/fusable-websites, pull requests merged in 2023-03, with the labels that each got.

#515 Remove Point of Collection, alter Personal Information verbiage in footer navigations
  sites/ccjdigital.com/config/navigation.js
  sites/equipmentworld.com/config/navigation.js
  sites/hardworkingtrucks.com/config/navigation.js
  sites/overdriveonline.com/config/navigation.js
  sites/totallandscapecare.com/config/navigation.js
  sites/truckersnews.com/config/navigation.js
  sites/truckpartsandservice.com/config/navigation.js
Labels: 🌐 site: ALL

#518 Don't lazyload first image
  packages/equipment-experts/package.json
  packages/global/components/layouts/content/default.marko
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#520 Display `global-sponsors-block` with respective sponsors of Trailblazer Award section page, TPS
  packages/global/components/blocks/sponsors.marko
  packages/global/components/layouts/website-section/feed.marko
Labels: 🌐 site: truckpartsandservice.com

#521 Upgrade dependencies
  packages/equipment-experts/package.json
  packages/global/package.json
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#523 Update Contractor of the Year page
  sites/equipmentworld.com/server/templates/website-section/contractor-of-the-year/index.marko
Labels: 🌐 site: equipmentworld.com

#524 Lazyload ads on all sites
  packages/equipment-experts/package.json
  packages/global/package.json
  sites/ccjdigital.com/config/gam.js
  sites/ccjdigital.com/package.json
  sites/equipmentworld.com/config/gam.js
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/config/gam.js
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckpartsandservice.com/config/gam.js
  sites/truckpartsandservice.com/package.json
Labels: 🌐 site: ALL
