Repository parameter1/fusable-websites, pull requests merged in 2023-09, with the labels that each got.

#595 Update subdomain within robots.txt
  sites/truckhistoryreport.com/server/public/robots.txt
Labels: site: truckhistory.overdriveonline.com

#596 Truck History Report adjustments to layout styles & social follow title
  packages/rigdig/scss/rigdig.scss
  sites/truckhistoryreport.com/server/styles/index.scss
  sites/truckhistoryreport.com/server/templates/index.marko
Labels: site: truckhistory.overdriveonline.com

#594 Disable contentDisplay logic from a/b test
  packages/global/components/layouts/content/default.marko
  packages/global/middleware/content-display.js
  sites/overdriveonline.com/server/routes/content.js
Labels: 🌐 site: ALL

#598 Tweaks to THR home page
  sites/truckhistoryreport.com/server/templates/index.marko
Labels: 🌐 site: truckhistory.overdriveonline.com

#618 Allow crawling for THR site
  packages/rigdig/browser/widget.vue
  sites/truckhistoryreport.com/server/public/robots.txt
Labels: 🌐 site: truckhistory.overdriveonline.com

#622 Set deadline to October 6, 2023, EQW COTY
  sites/equipmentworld.com/server/templates/website-section/contractor-of-the-year/index.marko
Labels: 🌐 site: equipmentworld.com

#623 Import getCookieId
  packages/equipment-experts/package.json
  packages/global/components/document.marko
  packages/global/package.json
  packages/rigdig/package.json
  sites/ccjdigital.com/package.json
  sites/cleantrucking.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckhistoryreport.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#626 Use native-x compat api
  packages/global/config/native-x.js
  packages/global/package.json
  packages/global/templates/content/native-x-story.marko
  sites/ccjdigital.com/package.json
  sites/cleantrucking.com/package.json
  sites/equipmentworld.com/package.json
  sites/hardworkingtrucks.com/package.json
  sites/overdriveonline.com/package.json
  sites/totallandscapecare.com/package.json
  sites/truckersnews.com/package.json
  sites/truckhistoryreport.com/package.json
  sites/truckpartsandservice.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#632 Revert "Switch back to old Native-X API endpoint"
  packages/global/config/native-x.js
Labels: 🌐 site: ALL
