Repository parameter1/fusable-websites, pull requests merged in 2024-08, with the labels that each got.

#742 Add OAI-Searchbot disallow to robots.txt
  sites/ccjdigital.com/server/public/robots.txt
  sites/cleantrucking.com/server/public/robots.txt
  sites/equipmentworld.com/server/public/robots.txt
  sites/hardworkingtrucks.com/server/public/robots.txt
  sites/overdriveonline.com/server/public/robots.txt
  sites/totallandscapecare.com/server/public/robots.txt
  sites/truckersnews.com/server/public/robots.txt
  sites/truckpartsandservice.com/server/public/robots.txt
Labels: 🌐 site: ALL

#746 Add ‘View More’ link to Partner Insights block on homepage
  sites/ccjdigital.com/server/templates/index.marko
Labels: 🌐 site: ccjdigital.com

#748 Update COTY page
  sites/equipmentworld.com/server/templates/website-section/contractor-of-the-year/index.marko
Labels: 🌐 site: equipmentworld.com
