Repository parameter1/fusable-websites, pull requests merged in 2024-09, with the labels that each got.

#751 CCJ Top 250 2024
  sites/ccjdigital.com/config/top250/_csv/top250.csv
  sites/ccjdigital.com/config/top250/all.js
  sites/ccjdigital.com/server/templates/website-section/top250/components/graphic-header.marko
Labels: 🌐 site: ccjdigital.com

#753 Image and information adjustments, Truck History Report
  packages/rigdig/browser/widget.vue
  sites/truckhistoryreport.com/server/templates/index.marko
Labels: 🌐 site: truckhistory.overdriveonline.com

#752 Update ‘procede’ logo on Trailblazer Award
  packages/global/components/blocks/sponsors.marko
Labels: 🌐 site: truckpartsandservice.com
