Repository parameter1/fusable-websites, pull requests merged in 2024-10, with the labels that each got.

#754 Correct data and call to action copy for CCJ Top 250
  sites/ccjdigital.com/config/top250/_csv/top250.csv
  sites/ccjdigital.com/server/templates/website-section/top250/guide.marko
  sites/ccjdigital.com/server/templates/website-section/top250/index.marko
Labels: 🌐 site: ccjdigital.com

#755 Remove PDF link for top 250
  sites/ccjdigital.com/config/top250/index.js
Labels: 🌐 site: ccjdigital.com

#759 Update deadline date - COTY
  sites/equipmentworld.com/server/templates/website-section/contractor-of-the-year/index.marko
Labels: 🌐 site: equipmentworld.com

#768 Decrease font size to fit all topics in nav
  sites/cleantrucking.com/server/styles/index.scss
Labels: 🌐 site: cleantrucking.com

#769 Increase font size and reduce padding in nav
  sites/cleantrucking.com/server/styles/index.scss
Labels: 🌐 site: cleantrucking.com
