Repository parameter1/fusable-websites, pull requests merged in 2024-11, with the labels that each got.

#771 Don't place Sponsor Content on CCJ Innovators section page
  packages/global/components/layouts/website-section/feed.marko
Labels: 🌐 site: ccjdigital.com

#773 Use CCJ for static pages
  sites/hardworkingtrucks.com/config/navigation.js
  sites/hardworkingtrucks.com/config/privacy-policy.js
Labels: 🌐 site: hardworkingtrucks.com

#775 Create and utilize redirect handler for HWT
  packages/global/middleware/hwt-redirect-handler.js
  packages/global/middleware/redirect-maps/content-redirects-map.js
  packages/global/middleware/redirect-maps/section-redirects-map.js
  packages/global/start-server.js
Labels: 🌐 site: hardworkingtrucks.com

#787 Update footer--Truckers News
  sites/truckersnews.com/config/navigation.js
  sites/truckersnews.com/config/privacy-policy.js
  sites/truckersnews.com/config/site.js
Labels: 🌐 site: truckersnews.com
